/* p,
li {
    font-size: 1.2em;
    line-height: 1.6;
    max-width: 75ch;
}

.custom-content-wrapper {
    max-width: 65ch;
    margin: 0 auto;
    padding: 0 1em;

    p,
    li {
        font-size: 1.2em;
        line-height: 1.6;
    }
}

.mermaid {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
} */
